
#loginForm{
    background-image: linear-gradient(to left bottom, #ffffff, #f6f2ff, #efe4ff, #ead6ff, #e7c7ff, #dbc9ff, #d0cbff, #c6ccff, #bddbff, #bde7ff, #c7f2ff, #d7fbff);
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 7px 0px rgba(187, 187, 187, 0.473);
    align-items: center;
}
#loginFormBlock{
    z-index: 111;
}