<div
  id="authBlock"
  class="animated fadeIn d-flex flex-column justify-content-center"
>
  <h3 style="color: white;">Reset Password</h3>
  <p class="text-center">
    Please enter your email address to request a password reset.
  </p>
  <div class="formGroup">
    <input
      type="email"
      class="formControl"
      placeholder="Email Address"
      #passwordResetEmail
      required
    />
  </div>
  <!-- Calling ForgotPassword from AuthService Api -->
  <div class="formGroup">
    <button
      type="submit"
      class="btn btn-light"
      (click)="authService.ForgotPassword(passwordResetEmail.value)"
    >
      Reset Password
    </button>
  </div>
  <div id="redirectToLogin">
    <span>Go back to ? <a class="redirect" routerLink="/login">Log In</a></span>
  </div>
</div>
