<div class="d-flex justify-content-center align-items-center container">
  <sw-card-wrapper class="animated fadeIn" #cardWrapper>
    <div
      class="swipe-card-heap"
      *ngFor="let card of cards; let index = index"
      swSwipeable
      [width]="370"
      [height]="500"
      [orientation]="'xy'"
      (swiped)="removeBy(index)"
    >
      {{ card }}
    </div>
    <div
      style="margin-top: 5%"
      class="d-flex flex-row align-items-center justify-content-between"
    >
      <div class="dislikeButtonContainer">
        <button class="dislikeButton" (click)="cardWrapper.dislike()">
          <img src="https://img.icons8.com/ios/50/000000/dislike.png" />
        </button>
      </div>
      <div>
            <button style="margin: 15px"  class="btn btn-light" (click)="reset()">reset</button>
      </div>
      <div class="likeButtonContainer">
        <button class="likeButton" (click)="cardWrapper.like()">
          <img src="https://img.icons8.com/ios/50/000000/hearts.png" />
        </button>
      </div>
    </div>
  </sw-card-wrapper>
</div>
