.likeButton {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #e3ecea;
  border: none;
  color: #fff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  height: 60px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 60px;
}

.likeButton:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.likeButton:after {
  background: #bb0000;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

.likeButton:active {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 3px;
}

.likeButton:focus {
  outline: 0;
}
#resetButton {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 4px;
  position: relative;
  background-color: #e3ecea;
  border: none;
  color: rgb(44, 43, 43);
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  height: 60px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 60px;
}

#resetButton:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #ffe600;
  color: #000;
}

#resetButton:after {
  background: #bb7900;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

#resetButton:active {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 3px;
}

#resetButton:focus {
  outline: 0;
}



.dislikeButton {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #e3ecea;
  border: none;
  color: #fff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  height: 60px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 60px;
}

.dislikeButton:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #db1d1d;
  color: #000;
}

.dislikeButton:after {
  background: #bb0000;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

.dislikeButton:active {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 3px;
}

.dislikeButton:focus {
  outline: 0;
}
.swipe-card-heap[swswipeable] {
    display: block;
    position: absolute;
    border-radius: 5px;
    border: 1.2px solid rgba(202, 202, 202, 0.733);
    visibility: hidden;
    width: 100%;
    background-image: linear-gradient(to left bottom, #ffffff, #f6f6f7, #eeedee, #e6e5e5, #dedcdc);
    &:nth-child(1) {
      transform: translate3d(0, 0px, 0px);
      transition: transform .3s ease;
      position: relative;
      visibility: visible;
      z-index: 3;
      
    }
    &:nth-child(2) {
      transform: translate3d(7px, -7px, 0px);
      z-index: 2;
      visibility: visible;
    }
    &:nth-child(3) {
      transform: translate3d(14px, -14px, 0px);
      z-index: 1;
      visibility: visible;
    }
    &:nth-child(4) {
      transform: translate3d(21px, -21px, 0px);
      z-index: 0;
      visibility: visible;
      opacity: 0.5;
    }
  }
  
