<div class="row">
  <div class="col-md-6">
    <img
      class= "animated delay-1s fadeIn"
      src="../../assets/img/logo.png"
      alt=""
      style=" margin-top: 20px;margin-left: 20px;height: 800px; width:800px;border-radius: 5px;box-shadow:  2px 3px 21px 3px rgba(0,0,0,0.75); z-index: -1;"
    />
  </div>
  <app-register class="animated delay-1s slideInUp" style="z-index: 1;"></app-register>
  <div id="app-slogan" class="animated fadeInRight" style="font-family: coves;">
    <h1 class="animated fadeInRight">Date.</h1>
    <hr style="box-shadow:  0px 0px 3px 1px rgba(0,0,0,0.75)" />
    <h1 class="animated fadeInRight delay-1s">Socialize.</h1>
    <hr
      class="animated fadeInRight delay-1s"
      style="box-shadow:  0px 0px 3px 1px rgba(0,0,0,0.75)"
    />
    <h1 class="animated fadeInRight delay-2s">Breed.</h1>
    <hr
      class="animated fadeInRight delay-2s"
      style="box-shadow:  0px 0px 3px 1px rgba(0,0,0,0.75)"
    />
  </div>
</div>
