<!-- <div class="row">
  <div class="col-md-6">
    <img
      class= "animated delay-1s fadeIn"
      src="../../assets/img/logo.png"
      alt=""
      style=" margin-top: 20px;margin-left: 20px;height: 800px; width:800px;border-radius: 5px;box-shadow:  2px 3px 21px 3px rgba(0,0,0,0.75); z-index: -1;"
    />
  </div>
  <app-register class="animated delay-1s slideInUp" style="z-index: 1;"></app-register>
  <app-slogan></app-slogan>
</div> -->

<div id="landingPageContainer" class="d-flex flex-row justify-content-between" style="flex-grow:1">
    <app-register class="animated slideInUp" style="z-index: 2"></app-register>
    <app-slogan></app-slogan>
</div>