#landingPageContainer{
    height:600px;
    width:900px;
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);   
    z-index: 11;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(235,235,235,1);
}